<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">
             <button id="addbtn" class="btn btn-block btn-success"><span class="fa fa-plus"></span> 添加</button>
          </h3>
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" value="" name="pos_search" class="form-control pull-right" placeholder="搜索">
      
              <div class="input-group-btn">
                <button type="button" id="possearch" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>公司Logo</th>
              <th>公司名称</th>
              <th>职位名称</th>
              <th>工作地点</th>
              <th>发布时间</th>
              <th>岗位薪资</th>
              <th style="width: 140px">操作</th>
            </tr>
              {{each data}}
              <tr>
                <td>{{$index+1}}</td>
                <td><img width="50" height="50" src="https://www.lgstatic.com/i/image3/M00/12/AF/CgpOIFpu7ROAU0UaAAAvwWv_H_w082.jpg" alt=""></td>
                <td>{{$value.companyName}}</td>
                <td>{{$value.positionName}}</td>
                <td>{{$value.city}}</td>
                <td>{{$value.createTime}}</td>
                <td>{{$value.salary}}</td>
                <td>
                  <button class="btn btn-sm btn-primary pos-edit" posid="{{$value._id}}"><span class="fa fa-edit"></span> 修改</button>
                  <button class="btn btn-sm btn-danger pos-remove" posid="{{$value._id}}" filename="{{$value.companyLogo}}"><span class="fa fa-remove"></span> 删除</button>
                </td>
              </tr>
              {{/each}}
              <!-- <tr>
                <td colspan="8">暂无记录。</td>
              </tr> -->
          </table>
        </div>  
      </div>
      <!-- /.box -->